* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --poppins: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;

  --pink: #ff52bf;
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-darh-cian: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);

  --padding-container: 80px 0;
}

body {
  font-family: var(--open-sans);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  min-height: 100vh;
  position: relative;
  --wave-bottom: url("../images/wave-top.svg");
}

.hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --padding-container: 60px 0 45px;
}

.hero__logo {
  width: 45%;
  max-width: 160px;
}

.hero__huddle {
  width: 100%;
  display: block;
}

.hero__cta {
  color: var(--light-pink);
  text-decoration: none;
  border: 2px solid;
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0 0 1px;
}

.hero__main {
  text-align: center;
  color: var(--very-darh-cian);
}

.hero__title {
  font-family: var(--poppins);
}

.hero__paragraph {
  width: 90%;
  line-height: 1.5;
  margin: 16px auto;
}

.cta {
  display: inline-block;
  background-color: var(--pink);
  color: #fff;
  text-decoration: none;
  padding: 16px 30px;
  border-radius: 30px;
  margin-top: 16px;
  font-weight: 600;
}

.hero__picture {
  margin-top: 80px;
}

.hero__img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.hero__numbers {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  gap: 60px;
}

.hero__item {
  overflow: hidden;
}

.hero__number {
  font-size: 60px;
}

.hero__icon {
  display: block;
}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100px;
  z-index: -1;
}

.wave--bottom {
  left: 0;
  bottom: 0;
  background-image: var(--wave-bottom);
}

.wave--top {
  left: 0;
  top: 0;
  background-image: var(--wave-top);
}

.section {
  background-color: var(--very-pale-blue);
  --padding-container: 110px 0;
}

.section--white {
  background-color: #fff;
  position: relative;

  --padding-container: 210px 0;

  --wave-top: url("../images/wave-top.svg");
  --wave-bottom: url("../images/wave-bottom.svg");
}

.section__container {
  display: flex;
  flex-direction: column;
}

.section__img {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.section__texts {
  margin-top: 50px;
  text-align: center;
}

.subtitle {
  margin-bottom: 16px;
  font-family: var(--poppins);
}

.question {
  position: relative;
  text-align: center;

  --wave-top: url("../images/wave-top-question.svg");
  --wave-bottom: url("../images/wave-bottom-question.svg");

  --padding-container: 190px 0 210px;
}

.footer {
  background-color: var(--very-darh-cian);
  color: #fff;
}

.footer__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-family: var(--poppins);
}

.footer__paragraph {
  line-height: 1.5;
  margin: 16px 50px;
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.footer__input {
  flex-basis: 100%;
  flex-grow: 1;
  font-size: 16px;
  font-family: var(--open-sans);
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 16px 6px;
  margin-bottom: 20px;
}

.footer__cta {
  font-size: 16px;
  font-family: var(--open-sans);
  background-color: var(--pink);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 10px 40px;
  font-weight: 600;
  margin-left: auto;
}

.footer__contact {
  line-height: 50px;
}

.footer__contact::after {
  content: "Phone: +1-456-456-4567";
  margin-left: 10px;
}

.footer__contact--email::after {
  content: " huddle@huddle.com";
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

.footer__link {
  text-decoration: none;
  width: 40px;
}

.footer__icon {
  width: 100%;
  display: block;
}

.footer__logo {
  width: 65%;
  max-width: 260px;
}

@media (min-width: 768px) {
  .hero {
    --wave-bottom: url("..images/bg-desktop.svg");
  }
  .hero__title {
    font-size: 48px;
  }
  .hero__paragraph {
    width: 70%;
  }
  .cta {
    padding: 16px 45px;
  }
  .hero__numbers {
    justify-content: space-around;
    flex-direction: row;
  }
  .section--white {
    --wave-top: url("../images/bg-desktop.svg");
    --wave-bottom: url("../images/bg-desktop.svg");
  }
  .section__container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .section__container--inverse {
    flex-direction: row;
  }
  .section__picture {
    width: 50%;
  }
  .section__texts {
    width: 45%;
    margin: 0;
    text-align: start;
  }
}
