* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --poppins: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;

  --pink: #ff52bf;
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-darh-cian: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);

  --padding-container: 80px 0;
}

body {
  font-family: var(--open-sans);
  background-color: rgb(194, 228, 228);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  min-height: 100vh;
  position: relative;
  --wave-bottom: url("../images/bg-mobile.svg");
}

.hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --padding-container: 60px 0 45px;
}

.hero__logo {
  width: 45%;
  max-width: 160px;
}

.hero__huddle {
  width: 100%;
  display: block;
}

.hero__cta {
  color: var(--light-pink);
  text-decoration: none;
  border: 2px solid;
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 0 0 1px;
}

.hero__main {
  text-align: center;
  color: var(--very-darh-cian);
}

.hero__title {
  font-family: var(--poppins);
}

.hero__paragraph {
  width: 90%;
  line-height: 1.5;
  margin: 16px auto;
}

.cta {
  display: inline-block;
  background-color: var(--pink);
  color: #fff;
  text-decoration: none;
  padding: 16px 30px;
  border-radius: 30px;
  margin-top: 16px;
}

.hero__picture {
  margin-top: 80px;
}

.hero__img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.hero__numbers {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  gap: 60px;
}

.hero__item {
  overflow: hidden;
}

.hero__number {
  font-size: 60px;
}

.hero__icon {
  display: block;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100px;
}

.wave--bottom {
  left: 0;
  bottom: 0;
  background-image: var(--wave-bottom);
}

.wave--top {
  left: 0;
  top: 0;
  background-image: var(--wave-top);
}
