* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 90%;
  height: 1200px;
  outline: 2px solid;
  margin: 40px auto;

  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*grid-template-rows: (5, 1fr);
  gap: 10px; */
  /* grid-template-areas:
    "element1 element1 element1 element2 element2"
    "element1 element1 element1 element2 element2"
    "element3 element3 element3 element2 element2"
    "element3 element3 element3 element2 element2"
    "element4 element4 element4 element4 element4";
} */

.item {
  /* width: 100px;
  height: 100px; */
  color: #fff;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.item1 {
  background-color: aqua;
  /* grid-column: 1 / 4;
  grid-row: 1 / 3; */
  /* grid-area: element1; */
  background-image: url("images/1.png");
}
.item2 {
  background-color: blueviolet;
  /* grid-column: 4 / 6;
  grid-row: 1 / 5; */
  /* grid-area: element2; */
    background-image: url("images/grid1.png");

}
.item3 {
  background-color: blue;
  /* grid-column: 1 / 4;
  grid-row: 3 /5; */
  /* grid-area: element3; */
    background-image: url("images/grid2.png");

}
.item4 {
  background-color: yellow;
  /* grid-column: 1 /6;
  grid-row: 5 / 6; */
  /* grid-area: element4; */
    background-image: url("images/grid4.png");

}
.item5 {
  background-color: green;
    background-image: url("images/grid5.svg");

}
.item6 {
  background-color: grey;
    background-image: url("images/CSS-GRID-3.png");

}
/* @media (min-width: 700px) {
  .container {
    grid-template-areas:
      "element1 element1 element1 element2 element2"
      "element1 element1 element1 element2 element2"
      "element3 element3 element3 element2 element2"
      "element3 element3 element3 element2 element2"
      "element4 element4 element4 element2 element2";
  }
} */